<section class="section section--blog-section">
    <div class="section__wrapper">
        <div class="section__content">

            <div class="blog-section">
                BLOG-SECTION BLOG-SECTION BLOG-SECTION BLOG-SECTION BLOG-SECTION
            </div>

        </div>
    </div>
</section>