<div class="blog-section">
  <div class="blog-section__header">
    <h2 class="blog-section__heading heading-h2">Latest Expert</h2>
    <a href="#" class="blog-section__link link">
      Explore All Articles
    </a>
  </div>

  <div class="blog-section__container">

    <div class="blog-section__item">
        {% from 'src/templates/partials/ui/icon.njk' import picture %}
        {{ picture("binabox", "Binabox website", "blog-section__image") }}
        <div class="blog-section__text">
            <h3 class="blog-section__title">Creative Blog</h3>
            <time class="blog-section__date" datetime="2024-04-15">15 April 2024</time>
        </div>
    </div>

    <div class="blog-section__item">
        {{ picture("dishes", "Best dishes website", "blog-section__image") }}
        <div class="blog-section__text">
            <h3 class="blog-section__title">Best Dishes</h3>
            <time class="blog-section__date" datetime="2024-05-05">5 May 2024</time>
        </div>
    </div>
    
  </div>
</div>
