{# <div class="categories">

    <div class="categories__cards">  

        <div class="categories__card">
            <div class="categories__illustration">
                <img src="/src/assets/images/ui-kits.svg" alt="Templates Icon">
            </div>
            <p class="categories__title">Templates</p>
            <p class="categories__desc">For all needs • Modern</p>
        </div>

        <div class="categories__card categories__card--active">
            <div class="categories__illustration">
                <img src="/src/assets/images/ui-kits.svg" alt="App Icons Icon">
            </div>
            <p class="categories__title">App Icons</p>
            <div class="categories__desc">High-quality • Elegant</div>
        </div>
        <div class="categories__card">
            <div class="categories__illustration">
                <img src="/src/assets/images/ui-kits.svg" alt="Slides Icon">
            </div>
            <p class="categories__title">Slides</p>
            <p class="categories__desc">Pitch-ready • Creative</p>
        </div>
        <div class="categories__card">
            <div class="categories__illustration">
                <img src="/src/assets/images/ui-kits.svg" alt="Design Tools Icon">
            </div>
            <p class="categories__title">Design Tools</p>
            <p class="categories__desc">Easy to use • Unique</p>
        </div>
    </div>

    <div class="categories__content">
        <div class="categories__label">Categories</div>
        <h2 class="categories__heading">Discover Assets for Every Projects</h2>
        <p class="categories__text">
            From fonts and icons to mockups and templates, our comprehensive categories ensure that you find exactly what you need to your projects.
        </p>
        <a href="#" class="categories__button">Shop Now</a>
    </div>

</div> #}