<section class="section section--categories">
    <div class="section__wrapper">
        <div class="section__content">

            <div class="categories">
                 CATEGORIES CATEGORIES CATEGORIES CATEGORIES CATEGORIES 
            </div>

        </div>
    </div>
</section>