<section class="section section--faq">
    <div class="section__wrapper">
        <div class="section__content">

            <div class="faq">
                FAQ FAQ FAQ FAQ FAQ FAQ FAQ FAQ FAQ FAQ
            </div>

        </div>
    </div>
</section>