<section class="section section--pricing">
    <div class="section__wrapper">
        <div class="section__content">

            <div class="pricing">

                <div class="pricing__text">
                    <span class="pricing__tag">Pricing Plan</span>
                    <h2 class="pricing__title heading-h2">Choose The Perfect Plan for Creative Potential</h2>
                </div>

                <div class="pricing__cards">

                    <div class="pricing__card">

                        <div class="pricing__offer">
                            <p class="pricing__offer-title">Standard Membership</p>
                            <p class="pricing__offer-price">€14.99
                                <span class="pricing__offer-duration">/ Month</span>
                            </p>
                        </div>
                        
                        <div class="pricing__features">
                            <ul class="pricing__plate">
                                <li class="pricing__plate-item">Enhanced Resource Access</li>
                                <li class="pricing__plate-item">Monthly Credits</li>
                                <li class="pricing__plate-item">Priority Customer Support</li>
                                <li class="pricing__plate-item">Community Features Access</li>
                            </ul>
                            <button class="pricing__button button button--secondary button--lg">Subscribe</button>
                        </div>

                    </div>

                    <div class="pricing__card pricing__card--bestseller">

                        <div class="pricing__offer">
                            <p class="pricing__offer-title">Standard Membership</p>
                            <p class="pricing__offer-price">€14.99
                                <span class="pricing__offer-duration">/ Month</span>
                            </p>
                        </div>
                        
                        <div class="pricing__features">
                            <ul class="pricing__plate">
                                <li class="pricing__plate-item">Enhanced Resource Access</li>
                                <li class="pricing__plate-item">Monthly Credits</li>
                                <li class="pricing__plate-item">Priority Customer Support</li>
                                <li class="pricing__plate-item">Community Features Access</li>
                            </ul>
                            <button class="pricing__button pricing__button--bestseller button button--secondary button--lg">Subscribe</button>
                        </div>

                    </div>

                    <div class="pricing__card">

                        <div class="pricing__offer">
                            <p class="pricing__offer-title">Standard Membership</p>
                            <p class="pricing__offer-price">€14.99
                                <span class="pricing__offer-duration">/ Month</span>
                            </p>
                        </div>
                        
                        <div class="pricing__features">
                            <ul class="pricing__plate">
                                <li class="pricing__plate-item">Enhanced Resource Access</li>
                                <li class="pricing__plate-item">Monthly Credits</li>
                                <li class="pricing__plate-item">Priority Customer Support</li>
                                <li class="pricing__plate-item">Community Features Access</li>
                            </ul>
                            <button class="pricing__button button button--secondary button--lg">Subscribe</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</section>