<section class="section section--pricing">
    <div class="section__wrapper">
        <div class="section__content">

            <div class="pricing">
                PRICING PRICING PRICING PRICING PRICING
            </div>

        </div>
    </div>
</section>