<section class="section section--products">
    <div class="section__wrapper">
        <div class="section__content">

            <div class="products">
                PRODUCTS PRODUCTS PRODUCTS PRODUCTS PRODUCTS PRODUCTS
            </div>

        </div>
    </div>
</section>    