<section class="section section--trending">
    <div class="section__wrapper">
        <div class="section__content">

            <div class="trending">
                 TRENDING TRENDING TRENDING TRENDING TRENDING
            </div>

        </div>
    </div>
</section>