@use '../mixins' as *;
@use '../ui/brakepoints' as *;

.filter-opener {
    max-width: 408px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 28px 16px;
        background-color: #b4bb68;
    }

    &__title {
        @include heading-h4;
    }

    &__content {
        max-height: 868px;
        overflow-y: auto;
        padding: 40px 16px 0;

        @include hide-scrollbar;
    }

    &__button {
        padding: 16px;
        background-color: #477774;

        & button {
            width: 100%;
        }
    }
}