@use "ui/brakepoints" as *;

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-base);
    user-select: none;
    user-select: none; /* Safari */
    user-select: none; /* Firefox */
    user-select: none; /* Internet Explorer/Edge */
}

.main {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include lg {
        gap: 120px;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.icon {
    width: 24px;
    height: 24px;
}
