@use 'ui/brakepoints' as *;
@use 'mixins' as *;

.section {
    &--main-banner {
        background: linear-gradient(
            90deg,
            rgb(240 246 253 / 1) 44%,
            rgb(255 255 255 / 1) 100%
        );
    }

    &__content {
        margin: 0 auto;
        width: 100%;
        max-width: 1440px;
        padding-inline: 16px;
        background-color: var(--bg-base);

        @include md {
            padding-inline: 40px;
        }

        @include lg {
            padding-inline: 80px;
        }
    }
}
