{% extends 'src/templates/layouts/base.njk' %}
{% block content %}

<section class="section section--blog-banner">
    <div class="section__wrapper">
        <div class="section__content">
            {% include 'src/templates/partials/home/main-banner.njk' %}
        </div>
    </div>
</section>

<section class="section section--blog">
    <div class="section__wrapper">
        <div class="section__content">
            {% include 'src/templates/partials/blog/blog.njk' %}
        </div>
    </div>
</section>

{% endblock %}