{% extends 'src/templates/layouts/base.njk' %}

{% block content %}
  CATALOG  CATALOG  CATALOG  CATALOG  CATALOG  CATALOG CATALOG
   {% include 'src/templates/partials/component.njk' %}
{% endblock %}
