<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ common.siteTitle }} </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        >
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&family=Plus+Jakarta+Sans:wght@200..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/src/styles/style.scss">
    </head>
    <body>
        {% include "src/templates/partials/common/header.njk" %}
        <main class="main">
            {% block content %}  default content  {% endblock %}
        </main>
        {% include "src/templates/partials/common/footer.njk" %}


        {#  #}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const filterToggleButton = document.querySelector(".catalog-controls__filter-toggle");
                const filterOpener = document.querySelector(".filter-opener");
                const filterCloseButton = document.querySelector(".filter-opener_button");

                filterToggleButton.addEventListener("click", function () {
                    filterOpener.classList.toggle("active");
                });

                filterCloseButton.addEventListener("click", function () {
                    filterOpener.classList.remove("active");
                });
            });
        </script>
    </body>
</html>