<div class="catalog">

    <aside class="catalog__filter">
    <!-- тут фильтры -->ASIDE
    </aside>

    <div class="catalog__content">
        {% include 'src/templates/partials/catalog/catalog-header.njk' %}

        <div class="catalog__products">
        CARDS CARDS CARDS CARDS CARDSV CARDS CARDS CARDS CARDS CARDS CARDS CARDS CARDS
        </div>
    </div>
    
</div>


