{# <aside class="filter">

    <div class="filter__section">
        <h3 class="filter__title">Categories</h3>

        <ul class="filter__list">
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
        </ul>
    </div>

    <div class="filter__section">
        <h3 class="filter__title">Format Type</h3>

        <ul class="filter__list">
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                </label>
            </li>
        </ul>

    </div>

    <div class="filter__section">
        <h3 class="filter__title">Style</h3>

        <ul class="filter__list">
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input class="switcher" type="checkbox">
                    Minimalist
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input class="switcher" type="checkbox">
                    Minimalist
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input class="switcher" type="checkbox">
                    Minimalist
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input class="switcher" type="checkbox">
                    Minimalist
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input class="switcher" type="checkbox">
                    Minimalist
                </label>
            </li>
        </ul>

    </div>

    <div class="filter__section">
        <h3 class="filter__title">Price</h3>

        <div class="filter__list">
            <input type="range" min="5" max="50" value="5" />
            <div class="filter__price-labels">
                <span>€5</span>
                <span>€50</span>
            </div>
        </div>
    </div>

    <button class="filter__button button button--secondary button--lg">
        Clear all filters
    </button>

</aside> #}

{# <div class="catalog__filter">
    {% from 'src/templates/partials/ui/icon.njk' import icon %}
    <button class="catalog__button button button--secondary button--md">
        Best Seller
        {{ icon("icon-chevron-down") }}
    </button>
    <input type="checkbox">
    <span>Showing 12 out of 120 results.</span>
    <button class="catalog__button button button--primary button--icon-md">
        {{ icon("icon-grid", "icon--white") }}
    </button>
    <button class="catalog__button button button--secondary button--icon-md">
        {{ icon("icon-list") }}
    </button>
    <button class="catalog__button button button--secondary button--sm">
        UI Kit
        {{ icon("icon-x-close") }}
    </button>
    <button class="catalog__button button button--secondary button--sm">
        UI Kit
        {{ icon("icon-x-close") }}
    </button>
    
</div> #}

{# <div class="catalog__filter">
    {% from 'src/templates/partials/ui/icon.njk' import icon %}

    <div class="catalog__controls">

        <div class="catalog__filter">
            <button class="catalog__button button button--secondary button--md">
                Best Seller
                {{ icon("icon-chevron-down") }}
            </button>
            <label for="filter-toggle" class="catalog__button button button--primary button--icon-md">
                {{ icon("icon-filter-lines", "icon--white") }}
            </label>
        </div>

        <div class="catalog__sort">
            <span class="catalog__filter-results">Showing 12 out of 120 results.</span>
            <button class="catalog__button button button--primary button--icon-md">
                {{ icon("icon-grid", "icon--white") }}
            </button>
            <button class="catalog__button button button--secondary button--icon-md">
                {{ icon("icon-list") }}
            </button>
        </div>

    </div>

    <div class="catalog__tags">
        <button class="catalog__tag button button--secondary button--sm">
            UI Kit
            {{ icon("icon-x-close") }}
        </button>
        <button class="catalog__tag button button--secondary button--sm">
            UI Kit
            {{ icon("icon-x-close") }}
        </button>

    </div>

</div> #}

{# Filter for Mobile and Tablet (Brakepoints sm and md) #}
<div class="catalog-filter">
    {% from 'src/templates/partials/ui/icon.njk' import icon %}

    <div class="catalog-filter__controls">

        <div class="catalog-filter__filter-group">
            <button class="catalog-filter__filter-button button button--secondary button--md">
                Best Seller
                {{ icon("icon-chevron-down") }}
            </button>
            <label for="filter-toggle" class="catalog-filter__filter-toggle button button--primary button--icon-md">
                {{ icon("icon-filter-lines", "icon--white") }}
            </label>
        </div>

        <div class="catalog-filter__sort-group">
            <span class="catalog-filter__results">Showing 12 out of 120 results.</span>
            <button class="catalog-filter__sort-button button button--primary button--icon-md">
                {{ icon("icon-grid", "icon--white") }}
            </button>
            <button class="catalog-filter__sort-button button button--secondary button--icon-md">
                {{ icon("icon-list") }}
            </button>
        </div>

    </div>

    <div class="catalog-filter__tags">
        <button class="catalog-filter__tag button button--secondary button--sm">
            UI Kit
            {{ icon("icon-x-close") }}
        </button>
        <button class="catalog-filter__tag button button--secondary button--sm">
            UI Kit
            {{ icon("icon-x-close") }}
        </button>
    </div>

</div>



