<filter class="filter">

    <div class="filter__section">
        <h3 class="filter__title">Categories</h3>

        <ul class="filter__list">
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="checkbox" class="default-checkbox">
                    <span class="custom-checkbox"></span>
                    All categiries
                </label>
            </li>
        </ul>
    </div>

    <div class="filter__section">
        <h3 class="filter__title">Format Type</h3>

        <ul class="filter__list">
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                    Figma
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                    Figma
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                    Figma
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                    Figma
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input type="radio" class="default-radio" name="gender">
                    <span class="custom-radio"></span>
                    Figma
                </label>
            </li>
        </ul>

    </div>

    <div class="filter__section">
        <h3 class="filter__title">Style</h3>

        <ul class="filter__list">
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input class="switcher" type="checkbox">
                    Minimalist
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input class="switcher" type="checkbox">
                    Minimalist
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input class="switcher" type="checkbox">
                    Minimalist
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input class="switcher" type="checkbox">
                    Minimalist
                </label>
            </li>
            <li class="filter__list-item">
                <label class="filter__list-option">
                    <input class="switcher" type="checkbox">
                    Minimalist
                </label>
            </li>
        </ul>

    </div>

    <div class="filter__section">
        <h3 class="filter__title">Price</h3>

        <div class="filter__list">
            <input type="range" min="5" max="50" value="5" />
            <div class="filter__price-labels">
                <span>€5</span>
                <span>€50</span>
            </div>
        </div>
    </div>

    <button class="filter__button button button--secondary button--md">
        {% from 'src/templates/partials/ui/icon.njk' import icon %}
        {{ icon("icon-x-close") }}
        Clear all filters
    </button>

</filter>