<header class="header">
    <div class="header__wrapper">
        <div class="header__content">

            <div class="header__container">    
                <div class="header__rename">
                    <a href="/index.html" class="header__logo">
                        <img
                            class="header__logo-item"
                            src="/src/assets/images/pixmart-logo.svg"
                            alt="Project Logo"
                        >
                    </a>
                    
                    <nav class="header__nav">
                        <ul class="header__nav-list">
                            {# <li class="header__nav-list-item">
                                <a href="/ui.html" class="button button--tertiary button--sm">UI Kit</a>
                            </li> #}
                            <li class="header__nav-list-item">
                                <a href="/catalog.html" class="button button--tertiary button--sm">Products</a>
                            </li>
                            {# <li class="header__nav-list-item">
                                <a href="/index.html" class="button button--tertiary button--sm">Creators</a>
                            </li> #}
                            {# <li class="header__nav-list-item">
                                <a href="/contact.html" class="button button--tertiary button--sm">Contact</a>
                            </li> #}
                            <li class="header__nav-list-item">
                                <a href="/blog.html" class="button button--tertiary button--sm">Blog</a>
                            </li>
                        </ul>
                    </nav>
                   
                </div>

                <div class="header__search">
                    <input
                        type="search"
                        class="text-field"
                        placeholder="Search for Digital Assets"
                    >
                    <button class="button button--primary button--icon-md" aria-label="Search">
                        {% from 'src/templates/partials/ui/icon.njk' import icon %}
                        {{ icon("icon-shopping-bag") }}
                    </button>
                </div>
            </div>

        </div>
    </div>
</header>
