HEADER HEADER HEADER HEADER HEADER HEADER
{# <header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="#" class="logo">
        <span class="logo__text">Pixmart</span><span class="logo__dot">.</span>
      </a>
    </div>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Products</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Creators</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
      </ul>
    </nav>
    <div class="header__search search">
      <input type="text" class="search__input" placeholder="Search for Digital Assets">
      <button class="search__button" aria-label="Search">
        <svg class="search__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 24 24">
          <path d="M17 4h-2V2h-6v2H7v2H5v2H3v14h18V8h-2V6h-2V4zM9 4h6v2H9V4zm10 16H5V10h14v10zm-7-8c-1.65 0-3 1.35-3 3s1.35 3 3 3 3-1.35 3-3-1.35-3-3-3zm0 4a1 1 0 110-2 1 1 0 010 2z"/>
        </svg>
      </button>
    </div>
  </div>
</header> #}
<a class="button button--tertiary button--lg" href="/ui.html">Open UI<a>
<a class="button button--tertiary button--lg" href="/catalog.html">Catalog<a>
<a class="button button--tertiary button--lg" href="/blog.html">Blog<a>
<a class="button button--tertiary button--lg" href="/contact.html">Contact<a>
<a class="button button--tertiary button--lg" href="/index.html">Home<a>